{% extends "HBBlogBundle:Article:article.html.twig" %}
{% block title %}
Bienvenue {{ article.title }} !
{% endblock %}
{% block body %}
    <h2>Édition de {{ article.title }}</h2> 
Edit {{ article.id }} !
{% endblock %}
